<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head") %>
<body>
<%-include("../partials/header") %>  
<main class="container"> 
    <form action="/administrador/productos" method="POST"  id="form" enctype="multipart/form-data">
    <fieldset class="rounded border w-90 mx-auto p-4" id="fondo-mainAdmin">
        <legend class="text-center">AGREGAR PRODUCTO</legend> 
      <div class="mb-3 col-md-6">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Ingresa nombre de producto">
          <span  style="color: red;" class="error"  id="errorsName" ></span>
    
      </div>
      <div class="mb-3 col-md-6">
          <label for="price" class="form-label">Precio</label>
          <input type="number" name="price" class="form-control" id="price" placeholder="ej:300">
          <span  style="color: red;"  id="errorsPrice" ></span>
      </div>


    <div class="mb-3 col-md-6">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Ingresa nombre de producto" value="<%= locals.old && old.name ? old.name : "" %>">
        <span  style="color: red;" class="error"  id="errorsName" ></span>
        <% if (locals.errors && errors.name) { %>
          <small class="text-danger"><%= errors.name.msg %></small>
          <% } %>
</div>
<div class="mb-3 col-md-6">
    <label for="price" class="form-label">Precio</label>
    <input type="number" name="price" class="form-control" id="price" placeholder="ej:300" value="<%= locals.old && old.price ? old.price : "" %>">
    <span  style="color: red;"  id="errorsPrice" ></span>
    <% if (locals.errors && errors.price) { %>
      <small class="text-danger"><%= errors.price.msg %></small>
      <% } %>
</div>

<div class="mb-3 col-md-6">
    <label for="discount" class="form-label">Descuento</label>
    <input type="number" name="discount" class="form-control" id="discount" placeholder="Ingresar descuento" value="<%= locals.old && old.discount ? old.discount : "" %>">
    <span  style="color: red;"  id="errorsDiscount" ></span>
    <% if (locals.errors && errors.discount) { %>
      <small class="text-danger"><%= errors.discount.msg %></small>
      <% } %>
</div>
    <div class="container" id="Container-admin">
      <label for="exampleDataList" class="form-label">Categorias</label>
      <select name="category_id" id="category_id" value="<%= locals.old && old.category_id ? old.category_id : "" %>">
        <option selected hidden value="" >Seleccione una categoria..</option>       
        <% categorias.forEach(({id, nameCategory}) => { %>
            <option value="<%= id %>" <%= (locals.old && old.category_id) && old.category_id === "1" ? "selected" : "" %>><%= nameCategory %></option>
        <% }) %>      
      </select>
      <% if (locals.errors && errors.category_id) { %>
        <small class="text-danger"><%= errors.category_id.msg %></small>
        <% } %> 
    </div>
    <div class="form-check form-switch pt-3">
        <input name="stock" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= (locals.old && old.stock) ? "checked" : "" %>>
        <span  style="color: red;"  id="errorsStock" ></span>
        <label class="form-check-label" for="flexSwitchCheckDefault">Stock</label>
      </div>  
      <div class="mb-3">
        <label for="formFile" class="form-label">Agregar archivo de imagen</label>
        <input name="image" class="form-control" type="file" id="formFile">
        <span  style="color: red;"  id="errorsFile" ></span>
      </div>
      <br>
      <div class="mb-3 " id="Container-admin">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
        <textarea name="description" class="form-control texto-area-main" type="text" id="description" rows="3"><%= locals.old && old.description ? old.description : "" %></textarea>
        <span  style="color: red;"  id="errorsDescription" ></span>
        <% if (locals.errors && errors.description) { %>
          <small class="text-danger"><%= errors.description.msg %></small>
          <% } %>
      </div>
      <br>
      <div class="col-12" id="boton-adminMain">
        <button class="btn btn-primary" type="submit">Crear</button>
        <span style="color: red;" id="submitErrors"></span>
      </div>
    </fieldset>
 </form>
</main>
<%-include("../partials/footer") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="/js/ValidacionesFront/adminValidatorFront/addProductValidatorFront.js"></script>
    <!--Bootstrap-->
    <%-include("../partials/script") %>
    
</body>
</html>