<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head") %>
<body>
 <%-include("../partials/header") %> 
<br>
<br>
 <div class="datatable-container">
    <table class="datatable">
        <thead class="tablaTitulo">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="tablaCuadro">
            <% usuarios.forEach(user => { %>
                <tr>
                  <th scope="row"><%- user.id %></th>
                  <td><%- user.nombre %></td>
                  <!-- <td><%- user.apellido %></td>
                  <td><%- user.fecha %></td>
                  <td><%- user.telefono %></td>
                  <td><%- user.email %></td> --> 
                  <!-- <td><%- user.avatar %></td> -->
                  <td class="text-center"><%- user.roluser_id %></td>
                  <td class="botonEditDelet">
                    <a href="/administrador/usuarios/editar/<%-user.id%>" class="botonEditar">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <form action="/administrador/usuarios/<%= user.id %>?_method=DELETE" method="POST">
                      <button class="votonEliminar" type="submit" >
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </form>
                    
                  </td>
                </tr>
              <% }) %>  
            </tbody>
          </table>
        </div>
<br><br><br><br><br><br><br><br><br><br>
 <%-include("../partials/footer") %> 
    <!--Bootstrap-->
<%-include("../partials/script") %> 
</body>
</html>