<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <br>
    <main>
        <article class="datatable-container">
            <button class="datatableBtn">
              <a class="fa-solid fa-plus" aria-current="page" href="/administrador/categories/addCategory">Agregar</a>
                <a href="/administrador/categories/addCategory">
                   
                </a>
            </button>
        </article>
        <!-- <article >
            <form action="/administrador/categories/searchCategory" method="get">
                <input type="text" name="search" id="search" placeholder="Buscar Categoría">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </article> -->

        <div class="datatable-container">
            <table class="datatable">
                <thead>
                  <tr class="text-center">
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <% categorias.forEach(categoria => { %>
                        <tr class="text-center">
                            <th scope="row"><%=categoria.id%></th>
                            <td><%=categoria.nameCategory%></td>
                            <td class="botonEditDelet">
                              <a href="/administrador/categories/editCategory/<%- categoria.id %>" class="botonEditar" id="btn-admin-modificacion">
                                <i class="fa-solid fa-pen-to-square"></i>
                              </a>
                              <form action="/administrador/categories/delete/<%- categoria.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="votonEliminar" id="btn-admin-borrar">
                                  <i class="fa-solid fa-trash-can"></i>
                                </button>
                              </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
        <!-- <a href="/">Salir del administrador</a> -->
    </main>

    
   
</body>
<br>
<br>
<br>
<br>
<%-include("../partials/footer")%>
<%-include("../partials/script") %> 
</html>