<!DOCTYPE html>
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <h1 class="paginaAdm">CATEGORIAS</h1>
    <main class="datatable-container">
        <form class="datatable" action="/administrador/categories/editCategory/<%-category.id%>?_method=PUT" method="POST">
            <div>
                <label for="name">Editar Categoría</label>
                <input class="form-control" type="text" name="name" value="<%=category.name%>" id="name">
            </div>
            
            <div class="container">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>

        <div>
            <a href="/administrador/categories">Volver</a>
        </div>
    </main>
<BR></BR>
<BR></BR>
<BR></BR>
<BR></BR>
<BR></BR>
<BR></BR>
    <%-include("../partials/footer")%>
    <%-include("../partials/script") %> 
</body>
</html>