<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs") %> 
  <body>
    <%-include("../partials/header.ejs") %>
    <!-- Inicio Header -->
    <!-- Fin Header -->
    <br>
    <!-- Inicio Registro -->

    <div class="divForm_login">
      <a class="retornHome_login" href="/usuario">Regresar al Login</a>
      <form  class="form_registro" id="form" action="/usuario/perfil/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data"><!-- action="registro" method="post" enctype="multipart/form-data"   en action va la ruta -->
        <div class="subtituloRegistro">
            <h2>Perfil Admin</h2>
            <i class="fa-solid fa-key"></i>
  
        </div>
        <div class="subtitulo">
            <i class="fa-solid fa-user"></i>
            <h2>Datos personales</h2>
        </div>
        <div class="box-1_registro">
            <input class="input_register" type="text" name="nombre" id="nombre" placeholder="Ingresar nombre" value="<%= user.nombre %>">
            <span  style="color: red;" class="error"  id="nombreErrors" ></span>
            <% if (locals.errors && errors.nombre) { %>           
              <small class="text-danger"><%= errors.nombre.msg %></small>
              <% } %>

            <input class="input_register" type="text" name="apellido" id="apellido" placeholder="Ingresar apellido" value="<%= user.apellido %>">
            <span  style="color: red;"  id="apellidoErrors"></span>
            <% if (locals.errors && errors.apellido) { %>
              <small class="text-danger"><%= errors.apellido.msg %></small>
              <% } %>
              <p> </p>
              <p class="input_register"><%= user.email %></p>
              <p> </p>
          </div>
        <!-- avata -->
        <h2>Avatar</h2>
          <div class="form--group" id="img-preview">
          <!-- <input class="avatarRegister"type="file" name="avatar" id="formFile"> -->
          <!-- <div class="box-2 mt-3"> -->
            <div class="img-container" id="img-preview">             
            </div>
            <br>
            <input class="avatarRegister"type="file" name="avatar" id="formFile">
            <!-- <input class="form-control mt-3" type="file" id="formFile"> -->
            <span  style="color: red;"  id="imgErrors"></span>
        <!-- </div> -->
        </div>       
         
        <div class="boton_registro"> 
            <button class="boton-boton" type="submit">Editar</button>
            <span style="color: red;" id="submitErrors"></span>
            <button class="boton-boton" type="reset">Cancelar</button>
        </div>
        <div class="redes_registro">
        </div>
      </form>
    </div>

    <!-- Fin Registro -->
    <br>
    <!-- Inicio del Footer -->
    <%-include("../partials/footer.ejs")%>
    <!-- Fin del Footer -->
    <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
    <script src="/js/ValidacionesFront/registerValidatorFront.js"></script>
    <%-include("../partials/scripts.ejs")%>
  </body>
</html>