<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs") %> 
  <body>
    <%-include("../partials/header.ejs") %>
    <!-- Inicio Header -->
    <!-- Fin Header -->
    <br>
    <!-- Inicio Registro -->

    <div class="divForm_login">
      <a class="retornHome_login" href="/usuario">Regresar al Login</a>
      <form class="form_login" action="registro" method="post" enctype="multipart/form-data"><!-- action="registro" method="post" enctype="multipart/form-data"   en action va la ruta -->
        <div class="subtituloRegistro">
            <h2>Registrarse</h2>
            <i class="fa-solid fa-key"></i>
  
        </div>
        <div class="subtitulo">
            <i class="fa-solid fa-user"></i>
            <h2>Datos personales</h2>
        </div>
        <div class="box-1_registro">
            <input class="input_register" type="text" name="nombre" id="nombre" placeholder="Ingresar nombre" value="<%= locals.old && old.nombre ? old.nombre : "" %>">
            <% if (locals.errors && errors.nombre) { %>           
              <small class="text-danger"><%= errors.nombre.msg %></small>
              <% } %>

            <input class="input_register" type="text" name="apellido" id="apellido" placeholder="Ingresar apellido" value="<%= locals.old && old.apellido ? old.apellido : "" %>">
            <% if (locals.errors && errors.apellido) { %>
              <small class="text-danger"><%= errors.apellido.msg %></small>
              <% } %>

            <input class="input_register" type="date" name="fecha" id="fecha" placeholder="Seleccionar fecha" value="<%= locals.old && old.fecha ? old.fecha : "" %>">
            <% if (locals.errors && errors.fecha) { %>
              <small class="text-danger"><%= errors.fecha.msg %></small>
              <% } %>
              
            <input class="input_register" type="tel" name="telefono" id="telefono" placeholder="Ingrese su Telefono/Celular" value="<%= locals.old && old.telefono ? old.telefono : "" %>">
            <% if (locals.errors && errors.telefono) { %>
              <small class="text-danger"><%= errors.telefono.msg %></small>
              <% } %>
              
            <input class="input_register" type="email" name="email" id="email" placeholder="Correo electronico" value="<%= locals.old && old.email ? old.email : "" %>">
            <!-- <input class="input_register" type="password" name="pass" id="pass" placeholder="Escriba una contrase単a">   -->
            <% if (locals.errors && errors.email) { %>
              <small class="text-danger"><%= errors.email.msg %></small>
              <% } %>
          </div>
        <!-- avata -->
        <div class="form--group">
          <h2>Avatar</h2>
          <!-- <label for="avatar">Avatar</label> -->
          <!-- <br> -->
          <input class="avatarRegister"type="file" name="avatar" id="avatar">
        </div>
        <!--  -->
        <div class="subtitulo_registro">
            <i class="fa-solid fa-lock"></i>
            <h2>Contrase単a</h2>
        </div>  
        <div class="box-2_registro">
            <input class="input_register" type="password" name="pass" id="pass" placeholder="Ingresar contrase単a">
            <% if (locals.errors && errors.pass) { %>
              <small class="text-danger"><%= errors.pass.msg %></small>
              <% } %>

            <input class="input_register" type="password" name="datorepass" id="datorepass" placeholder="Reingresar su contrase単a">
            <% if (locals.errors && errors.datorepass) { %>
              <small class="text-danger"><%= errors.datorepass.msg %></small>
              <% } %>
          </div>  
        <div class="condiciones_registro">
            <div class="checkbox">
                <input class="checkbox-in" type="checkbox" name="pass1" id="promociones" >
                <label for="promociones">Quiero estar al tanto de nuevas promociones</label>
            </div>
            <div class="checkbox">
                <input class="checkbox-in" type="checkbox" name="terms" id="terminos" >
                <label for="terminos">Aceptar terminos y condiciones</label>
                <% if (locals.errors && errors.terms) { %>
                  <small class="text-danger"><%= errors.terms.msg %></small>
                  <% } %>
            </div>
        </div>
        <div class="boton_registro"> 
            <button class="boton-boton" type="submit">Enviar</button>
            <button class="boton-boton" type="reset">Cancelar</button>
        </div>
        <div class="redes_registro">
            <button class="redes-boton" type="button">
              <a href="https://accounts.google.com/signin/v2/identifier?hl=en&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin" 
              class="fa-brands fa-google">
              <label class="redes-boton-2" for="google">Continuar con Google</label>
              </a>
            </button>
            <button class="redes-boton" type="button">
              <a href="https://www.facebook.com/"  class="fa-brands fa-facebook-square">
                <label class="redes-boton-2" for="facebook">Continuar con Facebook</label>
              </a>
            </button>
        </div>
      </form>
    </div>

    <!-- Fin Registro -->
    <br>
    <!-- Inicio del Footer -->
    <%-include("../partials/footer.ejs")%>
    <!-- Fin del Footer -->
    <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
    <%-include("../partials/scripts.ejs")%>
  </body>
</html>